
<h3>Jungle Dashboard</h3>
<div class="panel panel-default items">
  <p>Number of Products in database :: <%= @product_count %> </p>
   
  <p>Number of categories in database :: <%= @category_count %> </p> 
</div>
